<h3>記事を編集する</h3>

<% if @article.errors.any? %>
  <% @article.errors.full_messages.each do |message| %>
    <div class="row">
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <%= form_for(@article) do |f| %>
      
      <div class="form-group">
        <p><%= f.label :タイトル %></p>
        <p><%= f.text_field :title, class: "form-control" %></p>
      </div>
  
      <div class="form-group">
        <p><%= f.label :写真  %></p>
        <p><%= f.attachment_field :article_image %></p>
      </div>

      <div class="form-group">
        <p><%= f.label :本文  %></p>
        <p><%= f.text_area :text, :size=> "100x30", class: "form-control" %></p>
      </div>

      <div class="form-group">
        <p><%= f.label :タグ %>
        <p><%= f.text_field :tag_list, value: @article.tag_list.join(','), placeholder: "複数タグ付けする場合 , で区切って下さい", class:"form-control" %>
      </div>


      <p><%= f.submit "編集する" , class: "btn btn-default center-block" %></p>
    <% end %>
  </div>
</div>