<h3>新規投稿</h3>



<%= form_for(@article) do |f| %>

  <p><%= f.label :タイトル  %>
  <%= f.text_field :title %></p>

  <p><%= f.label :写真  %>
  <%= f.attachment_field :article_image %></p>

  <p><%= f.label :本文  %>
  <%= f.text_field :text %></p>

  <p><%= f.submit "投稿する" %></p>
<% end %>