<h3>記事詳細</h3>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1 text-center">
    <h4>タイトル ： <%= @article.title %></h4>
    <% if @article.favorites.count >= 1 %>
      <p><%= @article.favorites.count %> <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></p>
    <% end %>
    <div class="form-group">
      <p><%= attachment_image_tag @article, :article_image, format: "jpeg", fallback: "l_e_others_470.jpg", size: "300x300" %></p>
    </div>
    <div class="form-group">
      <%= safe_join(@article.text.split("\n"), tag(:br)) %>
    </div>
      <% if user_signed_in? %>
        <% if @article.favorited_by?(current_user) %>
          <p><%= link_to "いいね解除", article_favorites_path(@article), method: :delete %></p>
        <% else %>
          <p><%= link_to "いいねする", article_favorites_path(@article), method: :post %></p>
        <% end %>
      <% end %>

    <% if @article.user == current_user %>
      <%= link_to "編集する", edit_article_path(@article), class: "btn btn-default" %>
      <%= link_to "削除する", article_path(@article), class: "btn btn-default ", method: :delete, data: {confirm: "本当に削除してもよいですか？"} %>
    <% end %>
  </div>
</div>

<div class="row col-xs-10 col-xs-offset-1">
  <h4>コメント</h4>
  <% @article.article_comments.each do |article_comment| %>
    <div class="row col-xs-10 col-xs-offset-1 form-group">
      <%= article_comment.user.name %>
      <%= attachment_image_tag article_comment.user, :profile_image, format: "jpeg", size: "60x60" %>
      <%= safe_join(article_comment.comment.split("\n"), tag(:br)) %>
      <% if user_signed_in? %>
        <% if article_comment.user.id == current_user.id %>
          <%= link_to "削除", article_article_comment_path(@article, article_comment), method: :delete %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% if user_signed_in? %>
    <div class="row col-xs-10 col-xs-offset-1 text-center form-group">
      <%= form_for [@article, @article_comment] do |f| %>
        <%= f.text_area :comment, :size=> "80x3" %>
        <%= f.submit "コメントする", class: "btn-sm btn-default" %>
      <% end %>
    </div>
  <% end %>
</div>