<h3>記事詳細</h3>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1 text-center">
    <h4>タイトル ： <%= @article.title %></h4>
    <div class="form-group">
      <%= attachment_image_tag @article, :article_image, format: "jpeg", fallback: "l_e_others_470.jpg", size: "300x300" %>
    </div>
    <div class="form-group">
      <%= safe_join(@article.text.split("\n"), tag(:br)) %>
    </div>

    <% if @article.user == current_user %>
        <%= link_to "編集する", edit_article_path(@article), class: "btn btn-default" %>
        <%= link_to "削除する", article_path(@article), class: "btn btn-default ", method: :delete, data: {confirm: "本当に削除してもよいですか？"} %>
    <% end %>
  </div>
</div>