
<div class="row">
  <div class="col-xs-4">
    <h3>ユーザー情報</h3>
    <table class="table">
      <tr>
        <td>ユーザー名 <%= @user.name %></td>
      </tr>
      <tr>
        <td><%= attachment_image_tag @user, :profile_image, format: "jpeg", fallback: "l_e_others_476.jpg", size: "50x50" %></td>
      </tr>
      <tr>
        <td>紹介文 <%= @user.introduction %></td>
      </tr>
      <% if @user == current_user %>
        <tr>
          <td><%= link_to "編集", edit_user_path %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="col-xs-8">
    <h3>記事一覧</h3>
      <table class="table">
        <thead>
          <th></th>
          <th>タイトル</th>
          <th>ユーザー名</th>
        </thead>
        <tbody>
          <% @articles.each do |article| %>
            <tr>
              <td><%= attachment_image_tag article, :article_image, format: "jpeg", size: "100x100", follback: "l_e_others_470.jpg" %></td>
              <td><%= link_to "#{article.title}", article_path(article) %></td>
              <td><%= article.user.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>