<!DOCTYPE html>
<html>
  <head>
    <title>more clean</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to "マイページ", user_path(current_user) %></li>
            <li><%= link_to "記事一覧", articles_path %>
            <li><%= link_to "記事を書く", new_article_path %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "記事一覧", articles_path %></li>
            <li><%= link_to "新規登録", new_user_registration_path %></li>
            <li><%= link_to "ログイン", new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </header>
    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
