<!DOCTYPE html>
<html>
  <head>
    <title>MoreClean</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <% if user_signed_in? %>
      <%= link_to "マイページ", user_path(current_user) %>
      <%= link_to "記事を書く", new_article_path %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "ログイン", new_user_session_path %>
    <% end %>
    </header>
    <%= yield %>
  </body>
</html>
